.description {
  text-align: center;
}
.header-body-content {
  margin-top: 30px;
}
.header-img-container {
  margin: 40px auto;
}
.header-mealplan-image {
  width: 100%;
  height: 500px;
  border-radius: 38% 62% 45% 55% / 64% 30% 70% 36%;
  background-color: rgba(0, 212, 28, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-mealplan-image img {
  width: 100%;
}
@media only screen and (min-width: 1300px) {
  .header-text-container h1 {
    font-size: 4em;
  }
}
@media only screen and (max-width: 999px) {
  .header-text-container h1 {
    font-size: 2em;
  }
  .header-mealplan-image {
    width: 100%;
    height: 300px;
    border-radius: 38% 62% 45% 55% / 64% 30% 70% 36%;
    background-color: rgba(0, 212, 28, 0.164);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-mealplan-image img {
    width: 120%;
  }
}
.abtus1-2-row div {
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}
@media only screen and (max-width: 800px) {
  .abtus1-2-row div {
    margin: 10px;
  }
  .header-text-container {
    text-align: center;
  }
  .header-mealplan-image {
    width: 100%;
    height: 300px;
    border-radius: 38% 62% 45% 55% / 64% 30% 70% 36%;
    background-color: rgba(0, 212, 28, 0.164);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-mealplan-image img {
    width: 100%;
  }
}
.learn-more-btn {
  border: none;
  background-color: #39db4a;
  color: white;
  border-radius: 20px;
  font-size: 0.866em;
  height: 40px;
  width: 100px;
  box-shadow: 0px 8px 15px rgba(32, 182, 47, 0.274);
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.img-container img {
  width: 100%;
}
.abt-us-mealplan .row {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.telegram-css button {
  border: none;
  background-color: #39db4a;

  width: 210px;
  height: 50px;
  border-radius: 5px;
  text-decoration: underline;
}
.telegram-css button a {
  color: white;
}
.how-it-work-container {
  padding: 10px;
  border: solid;
  border-width: 1px;
}
.aboutUs-Des h5,
.aboutUs-Des p,
.aboutUs-Des h6 {
  margin-top: 15px;
}
.aboutUs-Des p {
  font-size: 1em;
}
.aboutUs-Des h5,
.aboutUs-Des h6 {
  font-size: 1.4em;
}

.pricing-container {
  background: #e1e0e054;
  box-shadow: inset 5px 5px 6px #bfbfbf, inset -6px -6px 7px #8f8f8f79;
  @media screen and (max-width: 500px) {
    h5 {
      font-size: 1rem;
    }
    p {
      font-size: 0.855rem;
    }
  }
  @media screen and (min-width: 575px) {
    border-radius: 19px;
  }
}
.meal-plan-package-detail {
  padding: 20px;
  & .register-btn {
    width: 65%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #39db4a;
    & a {
      text-decoration: none;
      color: white;
    }
  }
  & .register-btn:active {
    transform: translateY(1px);
  }

  & .meal-plan-term-condition {
    color: rgb(139, 139, 139);
    font-size: 0.8rem;
  }
}

.price-plan-container {
  padding: 20px;
  & p {
    font-size: 0.855rem;
  }
  & h4 {
    font-size: 1rem;
  }
  & .price-plan-1 {
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-width: 1px;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 1);
    & p,
    h4 {
      display: inline-block;
      margin-bottom: 0;
    }
    .discount-val {
      display: block;
      color: rgb(139, 139, 139);
    }
  }
}
.term-condition-text {
  margin-bottom: 2px;
}
