body {
  background-color: rgb(31, 31, 31);
  color: white;
}
body a {
  color: rgb(0, 0, 0);
}
body a:hover {
  color: #39db4a;
}
.event-landing-container img {
  width: 100%;
  filter: blur(1px);
}
.explore-event-btn {
  border: none;
  background-color: green;
  color: white;
}
.title-img img {
  width: 100%;
  border-radius: 10px;
}
.title-event h1 {
  font-weight: bold;
}
.title-event p {
  font-size: 1.2em;
}
@media only screen and (max-width: 765px) {
  .title-event h1 {
    font-size: 1.3em;
  }
  .title-event p {
    font-size: 0.8em;
  }
  .event-icon p,
  .event-description p {
    font-size: 0.855em;
  }
}
@media only screen and (max-width: 427px) {
  .title-event h1 {
    font-size: 1.2em;
  }
  .title-event p {
    margin-top: 15px;
    font-size: 0.7em;
  }
  .last-LearnMore-btn {
    margin-top: 35px;
  }
}
.event-icon {
  border: solid;
  border-width: 1px;
  margin: 2px;
  text-align: center;
  padding: 10px;
  background: rgba(160, 160, 160, 0.603);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(134, 134, 134, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.16);
}
.event-icon img {
  width: 40px;
}
.event-description {
  border: solid;
  border-width: 1px;
  margin: 2px;
  background-color: transparent;
  padding: 10px;
  border-color: transparent;
}
.contact-us-container {
  margin-top: 30px;
  text-align: center;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.281);
  display: flex;
  align-items: center;
}
.contact-us-container p {
  font-size: 0.88em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.contact-us-container h1 {
  text-align: center;
  color: rgb(9, 102, 51);
  font-size: 2em;
  font-weight: bold;
}
.contact-us-container button {
  border: none;
  background-color: rgb(9, 102, 51);
  color: white;
}
