.explore-btn {
  border: none;
  background-color: #39db4a;
  color: white;
  border-radius: 20px;
  font-size: 1em;
  height: 40px;
  width: 120px;
  box-shadow: 0px 8px 15px rgba(32, 182, 47, 0.274);
}
.header-text {
  margin-top: 50px;
}
/* desktop */
@media only screen and (max-width: 1920px) {
  .header-text p {
    font-size: 2em;
  }
  .header-text h1 {
    font-size: 4em;
    font-weight: bold;
  }
  .header-text {
    padding: 30px 0;
  }
}
/* laptop*/
@media only screen and (max-width: 1280px) {
  .header-text p {
    font-size: 1.5em;
  }
  .header-text h1 {
    font-size: 3em;
    font-weight: bold;
  }
  .description-recommend {
    display: -webkit-scrollbar-button;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .recommend-col-x-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .header-text p {
    font-size: 1em;
  }
  .header-text h1 {
    font-size: 2em;
    font-weight: bold;
  }
  .description-recommend {
    display: -webkit-scrollbar-button;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .recommend-col-x-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
.banner-container img {
  width: 100%;
}
.recommend-dishes-container {
  margin-top: 100px;
}
.recommend-row {
  margin-top: 20px;
  gap: 10px;
}
.recommend-col-x-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.recommend-col-x {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}
.recommend-col-x-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.recommend-col-x p {
  text-align: left;
  padding-left: 20px;
}
@media only screen and (max-width: 1280px) {
  .description-recommend {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .recommend-col-x-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .recommend-col-x p {
    text-align: left;
    padding-left: 5px;
  }
}

.category-x {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-x-img {
  width: 130px;
}
.category-x-1 {
  text-align: center;
  margin: 20px 10px 0px 10px;
  padding: 20px 20px 0px 20px;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}
@media only screen and (max-width: 700px) {
  .category-x-1 img {
    width: 80px;
  }
}
.category-x a {
  text-decoration: none;
  color: black;
}
.category-x-1 p:hover {
  color: #39db4a;
  text-decoration: underline;
  cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #39db4a;
}

.story-box-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  gap: 15px;
}
.story-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}
.story-box-container p {
  font-size: 0.865em;
  padding: 7px;
  color: #39db4a;
}
