.middle-main-nav {
  margin: auto;
  width: 660px;
  background-color: #e4e4e7;
  height: 76px;
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
}
.collection-nav-bar {
  margin: 4% auto;
}
.middle-main-nav div {
  display: flex;
  justify-content: space-around;
}
.middle-main-nav .middle-nav-bar:hover {
  color: #2da44d;
  transition: all 0.3s;
  cursor: pointer;
}
