* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #27272a;
  font-family: "Poppins", sans-serif;
}
.main-container {
  display: block;
  margin: auto;
  max-width: 1100px;
  outline: none;
  background-color: #e4e4e7;
  writing-mode: horizontal-tb;
  width: 100%;
  height: 1000px;

  background-image: linear-gradient(
      #010101 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #010101 calc(100% - 0.5px)
    ),
    linear-gradient(
      90deg,
      #010101 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #010101 calc(100% - 0.5px)
    );
  background-size: 10% 13%;
  border: 0px solid #010101;
}
.Toss-it-logo {
  width: 60px;
}
.main-container header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 5px 0px 5px 0px;
  background-color: #e4e4e7;
  font-size: 0.885rem;
  margin-right: 1px;
}
.main-container header div:hover {
  text-decoration: underline #2da44d;
  transition: all 0.3s;
  color: #2da44d;
}
.main-container main {
  display: flex;
  justify-content: center;
}
