.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #39db4a;
}
.story-box-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  gap: 15px;
}
.story-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}
.story-box-container p {
  font-size: 13px;
  padding: 7px;
  color: #39db4a;
}
