.recommend-dishes-container {
  margin-top: 100px;
}
.recommend-row {
  margin-top: 20px;
  gap: 10px;
}
.recommend-col-x {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}
.recommend-col-x-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommend-col-x-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
@media only screen and (max-width: 626px) {
  .recommend-col-x-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .recommend-col-x p {
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
  }
}
.recommend-col-x p {
  text-align: left;
  padding-left: 20px;
}
